/* 
--- 1 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
 Default: 400
- Line heights
Default: 1
- Letter spacing

--- 2 COLORS
- Primary:#e67e22
- Tints:
- Shades:
- Accents:
- Greys: #555

--- 5 SHADOWS

--- 6 BORDER RADIUS

--- 7 WHITE SPACE
- Spacing system
2 /4 /8 /12 /16 /24 /32 /48 /64 /80 /96 /128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* default is 16px */
  /* rem is root ele font size */
  /* making 1rem = 10px */
  /* 10px / 16px =0/625 => 62.5% */
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
